body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background-color: #181818;
  width: 100vw;
  height: 100vh;
}

#root {
  width: 100%;
  height: 100%;
}
main {
  width: 100%;
  height: 100%;
  background-color: #181818;
  overflow: hidden;
}

canvas#graph {
  width: auto;
  height: 100vh;
  /* transform: scale(1.01); */
  margin-top: -2px;
  z-index: 0;
  cursor: auto;
}

canvas#graph.dragging {
  cursor: pointer;
}
.toolbox {
  position: absolute;
  bottom: top;
  left: 0;
  width: 500px;
  height: auto;
  background-color: #ffffffdf;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 10px;
  box-sizing: border-box;
  z-index: 10;
}
.expression-input {
  width: 100%;
  font-size: 20px;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.color-code {
  --radius: 15px;
  width: calc(2 * var(--radius));
  height: calc(2 * var(--radius));
  background-color: red;
  border-radius: 50%;
  border: 1px solid black;
  margin-right: 10px;
}
.expression-input label {
  display: block;
  background-color: white;
  box-sizing: border-box;
  border-width: 1px 0 1px 1px;
  border-style: solid;
  border-color: gray;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 8px;
}
.expression-input input {
  box-sizing: border-box;
  padding: 5px;
  outline: none;
  height: 100%;
  border-width: 1px 1px 1px 0;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  border-style: solid;
  border-color: gray;
  border-left: none;
}

.add-graph {
  width: 100%;
  font-size: 35px;
}
